* {
box-sizing: border-box;
}

html {
  background: #0025FF;
  color: #fff;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
}

.logo img {
  width: 140px;
  margin-top: 55px;
}

.yearbook {
  width: 25%;
  float: left;

}

.person {
  text-align: center;
  padding: 5px;
  margin: 10px;
  /* background-color: rgba(245, 255, 59, 0.86); */
}

.name {
  text-align: center;
  color: black;
  font-style: oblique;
  font-weight: 600;
}

img {
  width: 100%;
  border-radius: 30px 10px;
}
